<!DOCTYPE html>
<html>

<% include header.ejs %>

<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <% include body-header.ejs %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <% include navigation.ejs %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Blind Sqli Blacklist Exercise</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Blind Sqli Blacklist Exercise</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Search User</h3>
                            </div>

                            <form action="./blind-sqli-blacklist?default=English" method="post">
                                <div class="card-body">

                                    <div class="form-group has-feedback">
                                        <input type="text" name="username" class="form-control" placeholder="User name">
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                    <a href="/" class="btn btn-secondary">Cancel</a>
                                </div>
                                <!-- /.col -->
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <div class="row">
                    <% if (isGetReq != true) { %>

                    <%- htmlResponse %>

                    <% } %>


                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->


        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/javascripts/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/javascripts/demo.js"></script>
</body>

</html>