<!DOCTYPE html>
<html>

<% include header.ejs %>

<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <% include body-header.ejs %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <% include navigation.ejs %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>XSS Exercise</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">XSS Exercise</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">XSS Exercise</h3>
                            </div>

                            <form action="./xss-exercise?default=English" method="post">
                                <div class="card-body">
                                    <h5><b>Instruction:</b></h5>
                                    <p><b>- Exercise 1 & 2 are on the current page only</b></p>
                                    <p><b>- Exercise 1: Find reflected xss</b></p>
                                    <p><b>- Exercise 2: Find stored xss</b></p>

                                    <div class="form-group has-feedback">
                                        <input type="text" name="username" class="form-control" placeholder="User name">
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                    <a href="/" class="btn btn-secondary">Cancel</a>
                                </div>
                                <!-- /.col -->
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <div class="row">
                    <%- htmlResponse %>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.0.2-pre
            </div>
            <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
            reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/javascripts/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/javascripts/demo.js"></script>
</body>

</html>